.Skills-Col {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 5%;
}

.Skills-Card {
    height: 65rem;
}

.Skills-Card-Body {
    background: #1a1a1a;
}

.Skills-Card-Title {
    height: 20rem;
}

.Skills-Card-Icon {
    color: #ff7143;
}

.Skills-Card-Text-Title {
    color: #ff7143;
}