.Contact-Icon {
    transition: .3s;
}

.Contact-P {
    display: inline;
}

.Contact-P:hover {
    cursor: pointer;
}

.Contact-P:hover .Contact-Icon, .Contact-Icon:hover {
    color: #A42700;
    cursor: pointer;
}

.Contact-Input {
    background: #151515;
    color: #cccccc;
    font-weight: 400;
    border: solid 2px #1c1c1c1c;
}